body {
    margin: 0px;
    height: 100svh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    color: wheat;
}