:root {
    --color-base: #0a0a11;
    --color-base-dark: #000001;
    --color-base-border: #35354b;
    --color-base-box-shadow: #151522;
    --color-blue: #5088ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Tahoma, sans-serif;

    background: linear-gradient(-45deg, #5088ff, #1a1a2e 5%, #0a0a11 95%, #5088ff);
    background-size: 400% 400%;

    animation: background_move 20s ease-in-out infinite;

    color: white;

    width: 100%;
    min-height: 100svh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    gap: 2rem 0;
}

@keyframes background_move {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

header, footer, main {
    width: 100%;
    background-color: var(--color-base-dark);
    text-align: center;
    padding: 1rem 0;
    border: 0.1rem solid var(--color-base-border);
    box-shadow: 4px 4px 1rem var(--color-base-box-shadow);

}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;

    gap: 0 2rem;

    padding: 1rem 2rem;

    #logo {
        flex: 0 1 auto;

        min-width: auto;

        width: 100%;
        height: auto;

        max-width: 7rem;
        max-height: 7rem;

        border-radius: 0.5rem;
    }

    h1 {
        flex: 0 1 auto;
        margin: 0;
        font-size: 2rem;
    }

    #user {
        flex: 0 1 auto;
        text-align: right;

        margin-left: auto;

        p {
            display: inline-block;
            margin: 0;
            font-size: 1.2rem;
        }

        a {
            display: inline-block;
            padding: 1rem;

            color: white;
            text-decoration: none;
            font-size: 1rem;

            border: 1px solid transparent;
            transition: all 0.2s ease-in-out;
            border-radius: 1rem;
        }

        a:hover {
            color: var(--color-blue);

            border: 1px solid var(--color-blue);
            box-shadow: 2px 2px 0.5rem var(--color-blue);
        }
    }
}

main {
    flex: 1;
    width: 100%;
    max-width: 900px;
    padding: 2rem;

    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 900px) {
    body {
        gap: 2.5rem 0;
    }

    main {
        padding: 1rem;
        border-radius: 0;
    }
}