{% extends 'base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_extra.css') }}">
{% endblock %}
{% block main %}
<main>
    <section id="buttons-section">      
        <button id="signin_button" onclick="section_change_to('signin-section', 'section-namespace-1');">Zaloguj się</button>
        <button id="signup_button" onclick="section_change_to('signup-section', 'section-namespace-1');">Zarejestrój się</button>
    </section>
    <section id="signin-section" class="active section-namespace-1">
        <h2>Logowanie</h2>
        <form action='{{ url_for("auth.signin") }}' method="post" id="login-form">
            <input type="text" name="user_login" placeholder="Nazwa Użytkownika: " required>
            <input type="password" name="user_password" placeholder="Hasło: " required>

            <button type="submit">Zaloguj się</button>
        </form>
    </section>
    <section id="signup-section" class="disabled section-namespace-1">
        <h2>Rejestracja</h2>
        <form action='{{ url_for("auth.signup") }}' method="post">
            <input type="text" name="user_login" placeholder="Nazwa Użytkownika: " required>
            <input type="password" name="user_password" placeholder="Hasło: " required>
            <input type="password" name="user_password_repeat" placeholder="Powtórz Hasło: " required>

            <button type="submit">Zarejestrój się</button>
        </form>
    </section>
    
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
        {% if messages%}
            <section id="info-section">
                {% for message in messages %}
                    <p class="info-p">{{ message }}</p>
                {% endfor%}
            </section>
        {% endif %}
    {% endwith %}
</main>
{% endblock main %}