{% extends 'base.html' %}
{% block main %}
    <section>
        <button id="signin_button">Zaloguj się</button>
        <button id="signup_button">Zarejestrój się</button>
    </section>
    <section id="signin-section">
        <h2>Logowanie</h2>
        <form action='{{ url_for("auth.signin") }}' method="post" id="login-form">
            <input type="text" name="user_login" placeholder="Nazwa Użytkownika: " required>
            <input type="password" name="user_password" placeholder="Hasło: " required>

            <button type="submit">Zaloguj się</button>
        </form>
        {% if error_signin %}
            <p class="error">{{ error_signin }}</p>
        {% endif %}
    </section>
    <section id="signup-section">
        <h2>Rejestracja</h2>
        <form action='{{ url_for("auth.signup") }}' method="post">
            <input type="text" name="user_login" placeholder="Nazwa Użytkownika: " required>
            <input type="password" name="user_password" placeholder="Hasło: " required>
            <input type="password" name="user_password_repeat" placeholder="Powtórz Hasło: " required>

            <button type="submit">Zarejestrój się</button>
        </form>
        {% if error_signup %}
            <p class="error">{{ error_signup }}</p>
        {% endif %}
    </section>
{% endblock main %}